.cartItems{
  flex:1;
  overflow-y:auto;
  margin-bottom: 20px;
}

.cartItem {
  display: flex;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 20px 20px 30px;
  overflow: hidden;

  font-size: 14px;
  line-height: 17px;

  .img{
    display: block;
    object-fit: contain;
    max-width: 80px;
    margin-right: 20px
  }

  .desc{
    margin-bottom: 10px;
  }

  .price{
    font-weight: 700;
  }
}




