.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  img {
    margin-bottom: 20px;
    width: 120px
  }
  h2{
    font-size: 22px;
    line-height: 27px;
  }
  p {
    text-align: center;
    opacity: 0.4;
    margin-bottom: 40px;
  }
}

