.common{
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 18px;
}

.green {
  width: 100%;
  height: 55px;
  margin-top: 20px;
  background: #9DD558;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.remove {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.heart {
  position: absolute;
}
.add {
}